<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Lingvistics.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <applicationSettings>
    <Lingvistics.Properties.Settings>
      <setting name="MaxProcessorVirtualMemoryInMB" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="UseCoreferenceResolution" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseGeoNamesDictionary" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxEntityLength" serializeAs="String">
        <value>256</value>
      </setting>
    </Lingvistics.Properties.Settings>
  </applicationSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>
  
</configuration>
